<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>      
      <add key="ZMCMSv2_Sys_ConnectionString" value="Data Source=oy.asuscomm.com,36913;Initial Catalog=ZMCMSv2_Sys;Persist Security Info=True;User ID=ZMSys;Password=z1r0m1d!@#$" />      
    </appSettings>  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>