<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="ZMCMSv2_SysEntities" connectionString="metadata=res://*/Model.ZMCMSv2_SysModel.csdl|res://*/Model.ZMCMSv2_SysModel.ssdl|res://*/Model.ZMCMSv2_SysModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=oy.asuscomm.com,36913;initial catalog=ZMCMSv2_Sys;persist security info=True;user id=ZMSys;password=z1r0m1d!@#$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ZMCMSEntities" connectionString="metadata=res://*/Model.ZMCMS_SysModel.csdl|res://*/Model.ZMCMS_SysModel.ssdl|res://*/Model.ZMCMS_SysModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=www.tongxin.com.tw,38301;initial catalog=ZMCMS;persist security info=True;user id=sa;password=23752100;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HISEntities" connectionString="metadata=res://*/Model.HISModel.csdl|res://*/Model.HISModel.ssdl|res://*/Model.HISModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1,1933;initial catalog=antifat;persist security info=True;user id=sa;password=1qaz@WSX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>